<a href="https://colab.research.google.com/github/tanboi85/ml_python/blob/main/association_rules_covid_symptoms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# Importing dataset

In [1]:
# Import important libraries in python 
import pandas as pd
import numpy as np

# import dataset and add columm names to the imporated dataset
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/\
Cleaned-Data.csv')

# Show the the tope 5 obersrvation of the dataset
df.head(5)

   Fever  Tiredness  Dry-Cough  ...  Contact_No  Contact_Yes  Country
0      1          1          1  ...           0            1    China
1      1          1          1  ...           1            0    China
2      1          1          1  ...           0            0    China
3      1          1          1  ...           0            1    China
4      1          1          1  ...           1            0    China

[5 rows x 27 columns]

# Dataset description

In [2]:
# Show the the tope 5 obersrvation of the dataset
display(df.head(5))

#Show data desccription
display(df.describe())

#show data shape
display(df.shape)

# show data type
display(df.dtypes)

   Fever  Tiredness  Dry-Cough  ...  Contact_No  Contact_Yes  Country
0      1          1          1  ...           0            1    China
1      1          1          1  ...           1            0    China
2      1          1          1  ...           0            0    China
3      1          1          1  ...           0            1    China
4      1          1          1  ...           1            0    China

[5 rows x 27 columns]

               Fever      Tiredness  ...     Contact_No    Contact_Yes
count  316800.000000  316800.000000  ...  316800.000000  316800.000000
mean        0.312500       0.500000  ...       0.333333       0.333333
std         0.463513       0.500001  ...       0.471405       0.471405
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000       0.000000  ...       0.000000       0.000000
50%         0.000000       0.500000  ...       0.000000       0.000000
75%         1.000000       1.000000  ...       1.000000       1.000000
max         1.000000       1.000000  ...       1.000000       1.000000

[8 rows x 26 columns]

(316800, 27)

Fever                       int64
Tiredness                   int64
Dry-Cough                   int64
Difficulty-in-Breathing     int64
Sore-Throat                 int64
None_Sympton                int64
Pains                       int64
Nasal-Congestion            int64
Runny-Nose                  int64
Diarrhea                    int64
None_Experiencing           int64
Age_0-9                     int64
Age_10-19                   int64
Age_20-24                   int64
Age_25-59                   int64
Age_60+                     int64
Gender_Female               int64
Gender_Male                 int64
Gender_Transgender          int64
Severity_Mild               int64
Severity_Moderate           int64
Severity_None               int64
Severity_Severe             int64
Contact_Dont-Know           int64
Contact_No                  int64
Contact_Yes                 int64
Country                    object
dtype: object

In [3]:
# count the number of items for each attribute

for i in df.columns:
    print('Attribute name:',i)
    print('-------------------')
    print(df[i].value_counts())
    print('-------------------')

Attribute name: Fever
-------------------
0    217800
1     99000
Name: Fever, dtype: int64
-------------------
Attribute name: Tiredness
-------------------
1    158400
0    158400
Name: Tiredness, dtype: int64
-------------------
Attribute name: Dry-Cough
-------------------
1    178200
0    138600
Name: Dry-Cough, dtype: int64
-------------------
Attribute name: Difficulty-in-Breathing
-------------------
1    158400
0    158400
Name: Difficulty-in-Breathing, dtype: int64
-------------------
Attribute name: Sore-Throat
-------------------
0    217800
1     99000
Name: Sore-Throat, dtype: int64
-------------------
Attribute name: None_Sympton
-------------------
0    297000
1     19800
Name: None_Sympton, dtype: int64
-------------------
Attribute name: Pains
-------------------
0    201600
1    115200
Name: Pains, dtype: int64
-------------------
Attribute name: Nasal-Congestion
-------------------
1    172800
0    144000
Name: Nasal-Congestion, dtype: int64
-------------------
Attribute name: Runny-Nose
-------------------
1    172800
0    144000
Name: Runny-Nose, dtype: int64
-------------------
Attribute name: Diarrhea
-------------------
0    201600
1    115200
Name: Diarrhea, dtype: int64
-------------------
Attribute name: None_Experiencing
-------------------
0    288000
1     28800
Name: None_Experiencing, dtype: int64
-------------------
Attribute name: Age_0-9
-------------------
0    253440
1     63360
Name: Age_0-9, dtype: int64
-------------------
Attribute name: Age_10-19
-------------------
0    253440
1     63360
Name: Age_10-19, dtype: int64
-------------------
Attribute name: Age_20-24
-------------------
0    253440
1     63360
Name: Age_20-24, dtype: int64
-------------------
Attribute name: Age_25-59
-------------------
0    253440
1     63360
Name: Age_25-59, dtype: int64
-------------------
Attribute name: Age_60+
-------------------
0    253440
1     63360
Name: Age_60+, dtype: int64
-------------------
Attribute name: Gender_Female
-------------------
0    211200
1    105600
Name: Gender_Female, dtype: int64
-------------------
Attribute name: Gender_Male
-------------------
0    211200
1    105600
Name: Gender_Male, dtype: int64
-------------------
Attribute name: Gender_Transgender
-------------------
0    211200
1    105600
Name: Gender_Transgender, dtype: int64
-------------------
Attribute name: Severity_Mild
-------------------
0    237600
1     79200
Name: Severity_Mild, dtype: int64
-------------------
Attribute name: Severity_Moderate
-------------------
0    237600
1     79200
Name: Severity_Moderate, dtype: int64
-------------------
Attribute name: Severity_None
-------------------
0    237600
1     79200
Name: Severity_None, dtype: int64
-------------------
Attribute name: Severity_Severe
-------------------
0    237600
1     79200
Name: Severity_Severe, dtype: int64
-------------------
Attribute name: Contact_Dont-Know
-------------------
0    211200
1    105600
Name: Contact_Dont-Know, dtype: int64
-------------------
Attribute name: Contact_No
-------------------
0    211200
1    105600
Name: Contact_No, dtype: int64
-------------------
Attribute name: Contact_Yes
-------------------
0    211200
1    105600
Name: Contact_Yes, dtype: int64
-------------------
Attribute name: Country
-------------------
Iran                  31680
Other-EUR             31680
China                 31680
Germany               31680
Italy                 31680
Republic of Korean    31680
Spain                 31680
France                31680
UAE                   31680
Other                 31680
Name: Country, dtype: int64
-------------------




# Dataset cleaning

In [4]:
# sum of null data based on attributes. 
df.isnull().sum()

Fever                      0
Tiredness                  0
Dry-Cough                  0
Difficulty-in-Breathing    0
Sore-Throat                0
None_Sympton               0
Pains                      0
Nasal-Congestion           0
Runny-Nose                 0
Diarrhea                   0
None_Experiencing          0
Age_0-9                    0
Age_10-19                  0
Age_20-24                  0
Age_25-59                  0
Age_60+                    0
Gender_Female              0
Gender_Male                0
Gender_Transgender         0
Severity_Mild              0
Severity_Moderate          0
Severity_None              0
Severity_Severe            0
Contact_Dont-Know          0
Contact_No                 0
Contact_Yes                0
Country                    0
dtype: int64

# Feature selection

Attributes related to covid-19 symptoms will be selected to create the association rules, therefore , other unrelated attributes will be dropped.

In [10]:
# Drop irrelevant attributes
for i in df.columns[11:]:
  print(i)
  df = df.drop(i, axis=1)

# Create a new dataframe
basket = df.copy()

# Show the the tope 5 obersrvation of the dataset
display(basket.head(5))

   Fever  Tiredness  Dry-Cough  ...  Runny-Nose  Diarrhea  None_Experiencing
0      1          1          1  ...           1         1                  0
1      1          1          1  ...           1         1                  0
2      1          1          1  ...           1         1                  0
3      1          1          1  ...           1         1                  0
4      1          1          1  ...           1         1                  0

[5 rows x 11 columns]

In [6]:
# Save the newly created dataset 
#df.to_csv('covid_dataset.csv', sep=',')

# Apriori algorithm

In [11]:
# Import important libraries in python 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Generate frequent item sets that have a support of at least 10%
frequent_itemsets = apriori(basket, min_support=0.1, use_colnames=True)

# Generate the rules with their corresponding support, confidence and lift
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Show generated rules
rules.head()

   antecedents  consequents  ...      leverage  conviction
0      (Fever)  (Tiredness)  ...  9.375000e-02     2.50000
1  (Tiredness)      (Fever)  ...  9.375000e-02     1.37500
2  (Dry-Cough)      (Fever)  ...  1.171875e-02     1.03125
3      (Fever)  (Dry-Cough)  ...  1.171875e-02     1.09375
4      (Fever)      (Pains)  ... -1.387779e-17     1.00000

[5 rows x 9 columns]

In [12]:
# We can filter the dataframe using the below pandas code. In this case
# In this caselook for a large lift (2) and high confidence (.8)
# The rules while be sorted in based on lift

rules[ (rules['lift'] >= 2) & (rules['confidence'] >= 0.8) ]. \
sort_values('lift', ascending=False)

                                     antecedents  ... conviction
292             (Difficulty-in-Breathing, Fever)  ...        inf
335                     (Tiredness, Sore-Throat)  ...        inf
60                            (Dry-Cough, Fever)  ...        inf
66              (Difficulty-in-Breathing, Fever)  ...        inf
142                     (Tiredness, Sore-Throat)  ...        inf
177                     (Dry-Cough, Sore-Throat)  ...        inf
285  (Dry-Cough, Fever, Difficulty-in-Breathing)  ...        inf
299         (Dry-Cough, Fever, Nasal-Congestion)  ...        inf
313               (Dry-Cough, Fever, Runny-Nose)  ...        inf
328          (Dry-Cough, Tiredness, Sore-Throat)  ...        inf
410   (Dry-Cough, Sore-Throat, Nasal-Congestion)  ...        inf
423         (Dry-Cough, Runny-Nose, Sore-Throat)  ...        inf

[12 rows x 9 columns]